<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>CoronaVirus Tracker Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<li><a href="menu.html" th:href="@{/}">menu</a></li>
		<h1>Coronavirus Tracker Application</h1>
		<p>This application list the current number of COVID-19 cases
			across the World</p>

		<div class="jumbotron">
			<h1 class="display-4" th:text="${totalReportedCases}"></h1>
			<p class="lead">
				Total Number of COVID-19 Cases Reported <span th:text="${Datum.day}"></span>
			</p>
			<hr class="my-4">

			<table class="table">

				<tr>
					<th>total</th>
					<th>confirmed Cases-Indians</th>
					<th>confirmed Cases-Foreign</th>
					<th>discharged</th>
					<th>deaths</th>
					<th>confirmed But Location Unidentified</th>
				</tr>
				<tr th:object="${Datum.summary}">
					<td th:text="*{total}"></td>
					<td th:text="*{confirmedCasesIndian}"></td>
					<td th:text="*{confirmedCasesForeign}"></td>
					<td th:text="*{discharged}"></td>
					<td th:text="*{deaths}"></td>
					<td th:text="*{confirmedButLocationUnidentified}"></td>
				</tr>
			</table>


		</div>

		<table class="table">
			<tr>
			<th>S.No</th>
				<th>State</th>
				<th>confirmed Cases Indian</th>
				<th>confirmed Cases Foreign</th>
				<th>discharged</th>
				<th>deaths</th>
			</tr>
			<tr th:each="states,iterStat  : ${Datum.regional}">
			<td th:text="${iterStat.count}"></td>
				<td th:text="${states.loc}"></td>
				<td th:text="${states.confirmedCasesIndian}"></td>
				<td th:text="${states.confirmedCasesForeign}"></td>
				<td th:text="${states.discharged}"></td>
				<td th:text="${states.deaths}"></td>

			</tr>
		</table>
	</div>
</body>

</html>